@import "compass";


body {

}

.main-wrapper {
  width:930px;
  margin:0 auto;
}

#main-header {
  #main-logo {
    position:relative;
    top:5px;
  }

  &>.main-wrapper {
    height:75px;
    position: relative;
  }

  .top-nav {
    position: absolute;
    top: 5px;
    right:0;
    height:22px;

    > * {
      display: inline-block;
      height:100%;
      padding-right:10px;
      margin-right:10px;
      border-right:solid 1px #999;

      &:last-child {
        padding:0;
        margin:0;
        border:0;
      }
    }
  }

  .main-options {
    background:green;
    height:44px;
    line-height:44px;

    a {
      color:#FFF;
      font-size:18px;
      margin-right:38px;
      display:inline-block;
    }
  }
}