@import "compass";

$slideshow-bg-color: #454545;
$main-text-color: #dcdedd;
$gray1: #656968;



@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin-Regular.otf);
}

body {
  font-family: Arial, sans-serif;
}


.main-wrapper {
  width:930px;
  margin:0 auto;
}

.sprite {
  &:before {
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background:url(images/gr_dc.png);
    background-color:red;
  }

  &.sprite-item-1:before {
    background-position:0 0;
  }
}






#main-header {
  background-color:#FFF;

  #main-logo {
    position:relative;
    top:5px;
  }

  &>.main-wrapper {
    height:75px;
    position: relative;
  }

  .top-nav {
    position: absolute;
    top: 5px;
    right:0;
    height:22px;

    a {
      text-decoration:underline;
      color:$gray1;
    }

    > * {
      display: inline-block;
      height:100%;
      padding-right:10px;
      margin-right:10px;
      border-right:solid 1px $gray1;
      font-size:13px;

      &.sprite {
        padding-left:25px;
        position:relative;

        &:before {
          position: absolute;
          left:0;
        }
      }

      &:last-child {
        padding:0;
        margin:0;
        border:0;
      }
    }
  }

  .main-options {
    height:44px;
    line-height:44px;
    font-family: "Cabin";
    @include background-image(linear-gradient(#5bc666, #308a33));

    a {
      color:#FFF;
      font-size:17px;
      margin-right:37px;
      display:inline-block;
    }
  }
}

#slideshow-wrapper {
  color:$main-text-color;
  background-color:$slideshow-bg-color;
  height:523px;
  padding-top:50px;
  position: relative;

  .title {
    position: absolute;
    left:0;
    top:0;
    width:100%;
  }

  h1 {
    text-align:center;
    color:$main-text-color;
    border-bottom:dotted 1px $main-text-color;
    position: relative;
    color:rgba(0,0,0,0);
    font-family: Cabin;
    font-weight:bold;
    font-size:30px;
    width:100%;

    &:before {
      content: attr(data-txt);
      color: $main-text-color;
      position:absolute;
      display: inline-block;
      top:15px;
      padding:0 20px;
      background-color:$slideshow-bg-color;
    }
  }

  h2 {
    text-align:center;
    color:$main-text-color;
    font-size:20px;
  }
}

#main-content {
  background:#FFF;
  overflow: hidden;
}