@import "variables";
@import "keyframes";
@import "compass";


@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin-Regular.otf);
}

body {
  font-family: Arial, sans-serif;
}


.main-wrapper {
  width:930px;
  margin:0 auto;
  position: relative;
}

.sprite {
  &:before {
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background:url(images/gr_dc.png);
    background-color:red;
  }

  &.sprite-item-1:before {
    background-position:0 0;
  }

  &.sprite-item-3:before {
    background-position:20px 0;
  }
}






#main-header {
  background-color:#FFF;

  #main-logo {
    position:relative;
    top:5px;
  }

  &>.main-wrapper {
    height:75px;
    position: relative;
  }

  .top-nav {
    position: absolute;
    top: 5px;
    right:0;
    height:22px;

    a {
      text-decoration:underline;
      color:$gray1;
    }

    > * {
      display: inline-block;
      height:100%;
      padding-right:10px;
      margin-right:10px;
      border-right:solid 1px $gray1;
      font-size:13px;

      &.sprite {
        padding-left:25px;
        position:relative;

        &:before {
          position: absolute;
          left:0;
        }
      }

      &:last-child {
        padding:0;
        margin:0;
        border:0;
      }
    }
  }

  .main-options {
    height:44px;
    line-height:44px;
    font-family: "Cabin";
    @include background-image(linear-gradient(#5bc666, #308a33));

    a {
      color:#FFF;
      font-size:17px;
      margin-right:37px;
      display:inline-block;
    }
  }
}

#slideshow-wrapper {
  background-color:$slideshow-bg-color;
  height:523px;
  padding-top:135px;
  position: relative;
  font-family:Cabin;

  &:before {
    content:"";
    display: block;
    position: absolute;
    width:100%;
    height:90px;
    bottom:0;
    background:red;
    @include background-image(linear-gradient($slideshow-bg-color, #7e7e7e));
  }

  .title {
    position: absolute;
    left:0;
    top:0;
    width:100%;
  }

  h1 {
    text-align:center;
    color:$main-text-color;
    border-bottom:dotted 1px $main-text-color;
    position: relative;
    color:rgba(0,0,0,0);
    font-family: Cabin;
    font-weight:bold;
    font-size:30px;
    width:100%;

    &:before {
      content: attr(data-txt);
      color: $main-text-color;
      position:absolute;
      display: inline-block;
      top:15px;
      padding:0 20px;
      background-color:$slideshow-bg-color;
    }
  }

  h2 {
    text-align:center;
    color:$main-text-color;
    font-size:20px;
  }

  #clipping {
    width:461px;
    height:297px;
    overflow:hidden;
    position: absolute;
    left:85px;
    top:13px;
    background:url(images/slider/slide1.png) no-repeat;

    ol {
      list-style:none;
      margin:0;
      padding:0;
      position:absolute;
      z-index:0;
      top:0;
      width:1844px;
      animation-name: motion;
      animation-duration: 20s;
      animation-iteration-count: infinite;

      &.slides {
        z-index: 1;

        @for $i from 1 through 4 {
          li:nth-child(#{$i}) {
            img {
              animation-name: opacity#{$i};
              animation-duration: 20s;
              animation-iteration-count: infinite;
            }
          }
        }
      }

      li {
        margin:0;
        padding:0;
        width: 461px;
        height:297px;
        float:left;

        &:before { display:none; }

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            background: url(images/slider/slide#{$i}b.png) no-repeat;
          }
        }

        img {
          width:100%;
          height:100%;
        }
      }
    }
  }

  .claim {
    font-family:Cabin;
    position: absolute;
    color:#FFF;
    font-size:22px;
    font-weight:bold;
    left:640px;
    top:8px;
  }

  ol {
    list-style: none;
    font-size:18px;
    letter-spacing:1px;
    counter-reset: elem;

    li {
      position: relative;
      padding-left:40px;
      margin-bottom:15px;
      color:$off-gray;

      &:before {
        counter-increment: elem;
        content: counter(elem);
        display: inline-block;
        width: 30px;
        height: 30px;
        border: solid 1px $off-gray;
        color: $off-gray;
        text-align: center;
        line-height: 28px;
        position: absolute;
        left: 0;
        top: 0;
        letter-spacing:0;
        @include border-radius(15px);
      }
    }
  }

  .features {
    position: relative;
    left:45px;
    top:55px;

    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        animation-name: list#{$i};
        animation-duration: 20s;
        animation-iteration-count: infinite;

        &:before {
          animation-name: list#{$i};
          animation-duration: 20s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}

#main-content {
  background:#FFF;
  overflow: hidden;
  margin-bottom:50px;

  h2 {
    border-bottom:dotted 1px #CCC;
    margin: 50px 0 15px 0;
    padding:0 0 12px 0;
    font-size:21px;
    font-weight:bold;
    color:#000;
  }

  table {
    border: solid 1px #dbdbdb;
    margin-top:20px;

    th, td {
      padding:10px 15px;
      font-weight:normal;
    }

    tr.active td {
      background-color: $active-bg !important;
    }

    th {
      font-size:16px;
    }

    label {
      font-weight:normal;
      cursor:pointer;

      input {
        margin-right:5px;
      }
    }

    tbody {
      td {
        background-color:#ffffcc;
        cursor:pointer;
      }
      tr:nth-child(odd) td {
        background-color:#f2f2f2;
      }
    }

    thead {
      background: #ddd;
      height:43px;
    }

    tfoot {
      >:not(.tfoot-foot) td {
        text-align:center;
        font-size:16px;

        .btn {
          font-family:Cabin;
          font-size:18px;
          letter-spacing:1px;
          padding:20px 100px;
          margin:20px auto 15px;
          display: inline-block;
          border:solid 1px #600660;
          position: relative;
          @include background-image(linear-gradient(#a705a9, #600660));

          span {
            position: relative;
            z-index: 1;
          }

          &:before {
            content:"";
            display: block;
            position: absolute;
            z-index:0;
            top:0px;
            left:0px;
            width:100%;
            height:4px;
            @include border-radius(2px);
            @include background-image(linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0)));

          }

          &:after {
            content:"";
            display: block;
            position: absolute;
            z-index:0;
            top:1px;
            left:2px;
            width:calc(100% - 4px);
            height:calc(100% - 3px);
            @include background-image(linear-gradient(#a705a9, #600660));
          }
        }

        .sprite:before {
          position:relative;
          left: -5px;
          top:4px;
          color:$gray1;
        }
      }

      >.tfoot-foot {
        background-color:#ddf8ff;
      }
    }
  }

  ul {
    list-style: none;
    padding:0 0 0 5px;

    li {
      padding-left:20px;
      position:relative;
      margin-bottom:15px;

      &:before {
        content: "";
        display: inline-block;
        position:absolute;
        left:0;
        top:5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 7px solid gray;
      }
    }
  }

  .box {
    border:solid 1px #d5d5d5;
    background:#f4f6f5;
    padding:15px;
    margin-top:50px;
    font-size:13px;
    @include border-radius(3px);

    h3 {
      font-size:18px;
      margin: 0 0 10px 0;
    }

    .phone {
      color:#53a462;
      font-size:30px;
      text-decoration: none;
      display: inline-block;
      margin-bottom:10px;
    }

    input {
      border:solid 1px #CCC;
      padding:5px 3px;
      @include border-radius(3px);
      @include input-placeholder {
        font-style:italic;
      }
      // @include background-image(linear-gradient(#FFF 80%, #CCC 100%));
      @include box-shadow(rgba(black, 0.15) 0 0 8px inset);
    }
  }
}

footer {
  height:40px;
  border-top:solid 1px #DDD;
  text-align:center;
  line-height:40px;
  font-size:13px;

  a {
    color:$gray1;
    text-decoration:underline;
  }
}
